{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{% if user.is_authenticated %}
You are already logged in
{%else%}
  <h2>Login</h2>
  <form class="form-horizontal" method="post">
    <div>
	   {% csrf_token %}
     <label for="id_username">Username</label>
     <!-- {{ form.username.errors }} -->
     <input id="id_username" name="username" type="text" class="form-control" required>

     <label for="id_password">Password</label>
     <!-- {{ form.password.errors }} -->
     <input id="id_password" name="password" type="password" class="form-control" required>
    </div>
    {% if form.errors %}
    <div class="form-group has-errors text-danger small">
      Your username and password didn't match
    </div>
    {% else %}
    <br>
    {% endif %}
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <br>
  <p> New user? <a href="{% url 'signup'%}">Sign up!</a></p>

{%endif%}
{% endblock %}
